
<div class="normal">
<table class="table" style="width:100%;">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>flavor</th>
    </tr>
  </thead>
  <tbody>
<% @items.each_with_index do |item,i| %>
	<tr>
		<td>
      <%= i+1 %>.
		</td>
		<td> <a href="/users/<%=item.slug%>"><%= item.name %></a> </td>
    <td> <%=item.flavor%></td>
	</tr>
<% end %>
    </tbody>
  </table>
</div>

