    <header>
      <div class="header-content">
        <div class="header-content-inner" style="">
          <h1>railsbasic</h1>
          <h4 style="">
            typing `rails new project` is getting old isn't it?
          </h4>
          <hr>
          <p>
          This is a rails app already started with a lot of defaults.
          </p>
          <a href="/users/new" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">under the covers</h2>
                    <hr class="light">
<p class="text-faded">
Welcome controller already made
<br/>
User model already there
<br/>
Nice onebigimg css theme

</p>
                    <a href="/users/new" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

<p>
This is a skeleton rails project with a lot of defaults already decided for you.
Make a mysql database and <code>rake db:migrate</code> and these create account options should work:
</p>

<a href="/users/new?flavor=a" class="btn btn-primary">Create Type A</a>
<a href="/users/new?flavor=b" class="btn btn-primary">Create Type B</a>

                </div>
            </div>
        </div>
    </section>
