    <header>
        <div class="header-content">
            <div class="header-content-inner">
<h1>railsbasic</h1>

<h4 style="">this is one big img.</h4>
                <hr>
<p>
wefwefwe
</p>
                <a href="/users/new" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

<p>
This is a skeleton rails project with a lot of defaults already decided for you.
Make a mysql database and <code>rake db:migrate</code> and these create account options should work:
</p>

<a href="/users/new?flavor=a" class="button">Create Type A</a>
<a href="/users/new?flavor=b" class="button">Create Type B</a>

<br/>
<br/>
<br/> <!-- yes I use br tags! -->

<p>
With an account you can <a href="/sessions/new">login</a> here.
</p>
                </div>
            </div>
        </div>
    </section>
