<h1>andrewarrow's railsbasic</h1>

<h2>a replacement for `rails new projectname`</h2>

<hr/>

<p style="width: 600px;">
This is a skeleton rails project with a lot of defaults already decided for you.
Make a mysql database and <code>rake db:migrate</code> and these create account options should work:
</p>

<a href="/users/new?flavor=a" class="button">Create Type A</a>
<a href="/users/new?flavor=b" class="button">Create Type B</a>
