<table class="table">
    <tr>
      <th>logo</th>
      <th>company</th>
      <th></th>
    </tr>
<% @items.each_with_index do |item,i| %>
	<tr>
		<td>
			<% if item.logo%>
				<img src="<%=item.logo.thumb.url%>"/>
			<% end %>
		</td>
		<td>
			<a href="/companies/<%=item.slug%>"><%= item.name %></a>
		</td>
		<td>
			<a href="/companies/<%=item.slug%>/edit">edit</a>
		</td>
	</tr>
<% end %>
  </table>
<p>
<a href="/companies/new" class="button">New Company</a>
</p>
