
<table class="table">
  <tr>
    <th>logo</th>
    <th>company</th>
    <th>creator</th>
  </tr>
<% @items.each_with_index do |item,i| %>
	<tr>
		<td>
			<% if item.logo%>
				<img src="<%=item.logo.thumb.url%>"/>
			<% end %>
		</td>
		<td> <a href="/companies/<%=item.slug%>"><%= item.name %></a> </td>
    <td><%=item.creator.name %></td>
	</tr>
<% end %>
  </table>

