<div>
  <div>
    <form method="post" action="/companies">
     <label for="name">Name</label>
     <input type="text" name="name"/>
     <label for="description">Description</label>
     <input type="text" name="description"/>
     <br/>
     <br/>
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <input type="submit" value="Save" style="font-size: 24px;"/>
    </form>
  </div>
</div>
